.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: 0px;
}

.content-wrapper {
    margin-left: 0px;
}

@media only screen and (max-width: 600px) {
    .block-button {
        display: block;
        width: 100%;
    }
}
